html, body, div.wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Georgia", serif;
	background-color: whitesmoke;
}

div.wrapper {
  display: flex;
  gap: 2em;
}

header {
  flex: 1;

  display: flex;
  flex-direction: column;

  background-color: aliceblue;
  box-shadow: 5px 0px 18px 0px #848484;
  padding: 2em;
  overflow: scroll;
}

header form {
  display: flex;
}

header ul {
  flex: 1;
  list-style-type: none;
  padding: 0;
}

header li {
  padding: 0 0 1em;
  cursor: pointer;
  text-transform: capitalize;
}

header li:hover {
  color: lightblue;
}

header li.selected {
  color: darkblue;
  font-weight: bold;
}

main {
  flex: 3;
  overflow-y: auto;
  padding: 2em;
}

main img {
  display: block;
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
  margin: 2em 0;
}

main div.artist-info {
  font-style: italic;
}

#types-container{
  display: flex;
  gap: 10px;
}

h1, .stat{
  text-transform: capitalize;
}

select{
  text-transform: capitalize;
}

/* CSS taken from https://pokemondb.net/type/ */
.type-name{
  display: inline-block;
  width: 66px;
  margin-bottom: 4px;
  background: #dbdbdb;
  border: 1px solid #a3a3a3;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.2);
  color: #fff;
  font-size: .75rem;
  font-weight: normal;
  line-height: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0,0,0,.7);
  text-transform: uppercase;
  transition: opacity .4s;
}

/* To change all the type colours also taken from https://pokemondb.net/type/ */
#normal{
  background-color: #aa9;
}

#fire{
  background-color: #f42;
}

#water{
  background-color: #39f;
}

#electric{
  background-color: #fc3;
}

#grass{
  background-color: #7c5;
}

#ice{
  background-color: #6cf;
}

#fighting{
  background-color: #b54;
}

#poison{
  background-color: #a59;
}

#ground{
  background-color: #db5;
}

#flying{
  background-color: #89f;
}

#psychic{
  background-color: #f59;
}

#bug{
  background-color: #ab2;
}

#rock{
  background-color: #ba6;
}

#ghost{
  background-color: #66b;
}

#dragon{
  background-color: #76e;
}

#dark{
  background-color: #754;
}

#steel{
  background-color: #aab;
}

#fairy{
  background-color: #e9e;
}
/*-------------------------------*/
#description-container{
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

#stats{
margin-top: 180px;
margin-left: 180px;
}